body {
    transition: all 0.2s ease-in-out;
    background: white;
}

main {
    padding: 25px;
    text-align: right;
    margin: auto;
}

h1, h2, p {
    text-align: left;
}

h1 {
    margin: 250px 0px 0px 0px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: lightgrey;
    width: 60px;
    padding: 10px;
    font-size: 25px;
}

body.dark {
    background-color: rgb(50, 50, 55);
    color: white;
}